.footer-nav h4{
    font-size: 18px;
    font-weight: 600;
}
.footer-nav ul{
    margin-top: 20px;
}
.footer-nav ul li{
    margin-bottom: 10px;
}
.footer-nav ul li a, .footer-horizontal-nav ul li a{
    display: block;
    padding: 5px 0;
    font-size: 14px;
    opacity: 0.6;
}
.footer-nav ul li:hover a, .footer-horizontal-nav ul li:hover a{
    opacity: 1;
}

.footer-horizontal-nav ul{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}